{% extends 'base.html' %}

{% block title %}Login{% endblock %}


{% block content %}
<div class="d-flex justify-content-center mt-5">
	<form action="/login_attempt" method="post">
		<h2>Login here</h2>
		{% with messages = get_flashed_messages(category_filter=['login']) %}
			{% if messages %}
				<div class="alert alert-danger" role="alert">
					<strong>Error!</strong>
					{% for message in messages %}
						<p>{{ message }}</p>
					{% endfor %}
				</div>
			{% endif %}
		{% endwith %}
		<div class="form-group">
			<label for="email">Email:</label>
			<input type="text" name="email" class="form-control col-15">
		</div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input type="password" name="password" class="form-control col-15">
		</div>
		<input type="submit" value="Login" class="btn btn-success">
	</form>

	<br>

</div>
<div class="d-flex justify-content-center mt-5">
	<p>Don't have an account? <a href="/register">Click here</a>.</p>
</div>
{% endblock %}